{% include 'partials/header.html' %}
<div style="margin-top: 100px;"></div>
<h1>{{task.name}}</h1>
<br>
<h5>Description: {{task.description}}</h5>
<br>
<h5>Deadline: {{task.deadline}}</h5>
<br>
<h5>Created at:{{task.create_at}}</h5>
<br>
<h5>
    Status: {{task.get_status_display}}
</h5>
{% for tag in tags %}
<button class="btn btn-sm btn-outline-secondary"
        href="{% url 'tag_details' tag.id %}" style="width:100px; height:40px;">
    <a> #{{tag.name}}</a>
</button>
{% endfor %}


{% include 'partials/footer.html' %}