{% include 'partials/header.html' %}

<div style="margin-top: 100px;"></div>

<h2>Project: {{ project.name }}</h2>
<h4>Owner: {{ username }}</h4>

{% for user in users %}
<h4>
    Users: {{user.name}}
</h4>
{% endfor %}

<h4>Tasks:</h4>
<br>
<div>
        <table class="table">
            <thead>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>


            </thead>
            <tbody>
            {% for task in tasks %}


            <tr>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <th scope="row">
                    <h3>{{task.name}}</h3>
                </th>

                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                    <form action="{% url 'complete_task' task.id %} " method="post">
                        {%csrf_token%}
                        <button style="width:100px; height:40px;"
                                class="btn btn-sm btn-outline-secondary">Complete
                        </button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'details' task.id %} " method="post">
                        {%csrf_token%}
                        <button style="width:100px; height:40px;"
                                class="btn btn-sm btn-outline-secondary">Details
                        </button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'change_task' task.id %} " method="post">
                        {%csrf_token%}
                        <button style="width:100px; height:40px;"
                                class="btn btn-sm btn-outline-secondary">Edit
                        </button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'delete_task' task.id %} " method="post">
                        {%csrf_token%}
                        <button style="width:100px; height:40px;"
                                class="btn btn-sm btn-outline-secondary">Delete
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<br>

{% include 'partials/footer.html' %}