<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>

<body>
<div style="height: 160px;"></div>
<div class="container">
    <div class="column">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-5">
                <h1>Login</h1>
            </div>
            <div class="col-lg-5 col-lg-offset-4">
                <div>
                    <form action="/auth/login/" method="post">
                        {% csrf_token %}
                        <div class="col-xs-12 col-md-8 block">
                            <input type="text" name="username" id="username" class="form-control" placeholder="Login"
                                   required autofocus>
                        </div>
                        <div style="height: 50px;"></div>
                        <div class="col-xs-12 col-md-8 block">
                            <input type="password" name="password" id="password" class="form-control"
                                   placeholder="Password" required>
                        </div>
                        {% if login_error %}
                            <div class="alert alert-warning" role="alert">
                                <strong>Warning!</strong> Wrong login or password
                            </div>
                        {% endif %}
                        <div style="height: 30px;"></div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>