<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
     <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-5">
                <h1>Registration</h1>
            </div>
            <div class="col-lg-5 col-lg-offset-4">
                 <div>
                     <form action="/auth/registration/" method="post"> {% csrf_token %}
                         {{ form.as_p }}
                         <button type="submit" class="btn btn-primary">Register</button>
                     </form>
                 </div>
            </div>
        </div>
    </div>
</body>
</html>